.title {
    text-align: left;
    padding: 10px;
}

h1 {
    font-size: 30px;
}

.menu {
    background: white;
    max-width: 960px;
    display: flex;
    padding: 0;
    align-items: flex-start;
}

.container1 {
    padding: 10px 15px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
}
.container1 li {
    font-size: 15px;
    border-left: 1px solid gray;
    padding: 10px 15px;
}
.container1 li:first-child {
    border-left: none;
}

.blue {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 10px;
}

.box {
    width: 30%;
    height: 300px;
    background: blue;
}

.red {
    padding: 30px;
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.box2 {
    width: 30%;
    height: 300px;
    background: red;
}

@media screen and (max-width: 767px) {
    .menu {
        text-align: left;
        padding: 20px;
        align-items: flex-start;
        flex-direction: column;
    }

    .container1 {
        flex-direction: column;
        width: 100%;
    }

    .title {
        text-align: left;
        padding: 10px;
    }
    .container1 li {
        border-bottom: 1px solid gray;
        border-left: none;
        text-align: left;
        padding: 20px;
    }
}
